{% extends 'base.html' %}

{% block title %} Mi Aplicación de Flask {% endblock %}

{% block header %}Listado de Servicios{% endblock %}

{% block content %}
    <div class="contenedor-boton-agregar">
        <!-- 'agregar_servicio' es el nombre de la funcion en app.py -->
        <a href="{{ url_for('agregar_servicio') }}" class="boton boton-agregar">Agregar</a>
    </div>
    
    <!-- Tabla -->
    <table class="tabla">
        <thead>
            <tr>
                <th class="titulo-tabla">#</th>
                <th class="titulo-tabla">Precio</th>
                <th class="titulo-tabla">Profesional</th>
                <th class="titulo-tabla">Detalle</th>
                <th class="titulo-tabla">Editar</th>
                <th class="titulo-tabla">Borrar</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
                <tr class="fila-datos">
                    <td>{{d.idServicios}}</td>
                    <td>{{d.precio}}</td>
                    <td>{{d.Profesionales_idProfesionales}}</td>
                    <td>{{d.detalle}}</td>
                    <td><button class="boton boton-editar" id="btn-edit{{ d.idServicios }}" data-bs-toggle="modal" data-bs-target="#modal{{ d.idServicios }}">Editar</button></td>
                    <td><a href="{{ url_for('borrar_servicio', id=d.idServicios) }}" class="boton boton-borrar">Borrar</a></td>
                </tr>
                <!-- modal -->
                <div class="modal fade" id="modal{{ d.idServicios }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-5" id="exampleModalLabel">{{ d.detalle }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        
                            <div class="modal-body">
                                <form action="/editar_servicio/{{ d.idServicios }}" method="post">
                                    <label>Precio</label>
                                    <input type="number" step="0.01" class="form-control mb-3" name="precio" value="{{ d.precio }}">
                                    <label>Profesional</label>
                                    <input type="number" class="form-control mb-3" name="profesional" value="{{ d.Profesionales_idProfesionales }}">
                                    <label>Detalle</label>
                                    <input type="text" class="form-control mb-3" name="detalle" value="{{ d.detalle }}">
                                    
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Grabar Cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
